<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>
  <div class="main">
  <div class="container">
    <h1>Hello my name is Sirolad</h1>
    <p>I make Rails apps.</p>
    <button><%= link_to 'Messenger', "/messages" %></button>
    <button><%= link_to 'Traveller', "/tags" %></button>
  </div>
</div>
</body>
</html>
